<?php
foreach ($this->container as $page):
	$hasChildren = $page->hasPages();
	if (!$hasChildren):
		?>
		<li class=" <?php echo ($page->isActive() == true) ? 'active' : ''; ?>">
			<a href="<?php echo $page->getHref(); ?>"><?php echo $this->translate($page->getLabel()); ?></a>
		</li>

	<?php else: ?>

		<?php if ($level == 0) : ?>
			<li class="dropdown <?php echo ($page->isActive() == true) ? 'active' : ''; ?>">
				<a class="dropdown-toggle" data-toggle="dropdown"
				   href="#"><?php echo $this->translate($page->getLabel()); ?>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<?php echo $this->partial('partial/topmenu_sub.phtml', array(
						'level'     => $level + 1,
						'container' => $page->getPages()));
					?>
				</ul>
			</li>
		<?php else : ?>
			<li class="dropdown dropdown-submenu <?php echo ($page->isActive() == true) ? 'active' : ''; ?>">
				<a class="dropdown-toggle" data-toggle="dropdown" href="<?php echo $page->getHref() ?>">
					<?php echo $this->translate($page->getLabel()) ?>
				</a>

				<ul class="dropdown-menu">
					<?php echo $this->partial('partial/topmenu_sub.phtml', [
						'level'     => $level + 1,
						'container' => $page->getPages()
					]);
					?>
				</ul>
			</li>
		<?php endif; ?>
	<?php
	endif;
endforeach;
?>