<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<?php
				echo $this->partial('partial/topmenu_sub.phtml', [
					'level'     => 0,
					'container' => $this->container
				]);
				?>
			</ul>
		</div>
	</div>
</nav>