.lead-top {
    margin-top:1em;
}

.bb-code {
    font-family:"Courier";
    font-size:1.2em;
}

.bb-code-string {
    color: #3276b1;
}

.code-leader {
    font-weight:bold;
}

.bb-code-small {
    font-size:0.9em;
}

.bb-alert {
    position:fixed;
    bottom:25%;
    right:0;
    margin-bottom:0;
    font-size:1.2em;
    padding:1em 1.3em;
    z-index:2000;
}

.alert--finch {
    display:block;
    font-weight:bold;
    text-align:center;
}
