<?php
/**
 * @var $form \Zend\Form\Element
 */
$title = "{$mode} Vacancy";
$this->headTitle($title);
$lowercaseMode = \strtolower($mode);
?>
<?php //echo $this->currentRequest()->get('action'); ?>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><?php echo $this->escapeHtml($title); ?></h3>
				</div>
				<div class="panel-body">

					<?php
					echo $this->showMessages();

					$form->setAttributes(array(
						'action' => $this->url('work', array('action' => 'add')),
						'method' => 'post',
						'class'  => 'form-horizontal col-xs-10'
					));

					if ($lowercaseMode == 'edit') {
						$form->setAttribute('action', $this->url(
							'work',
							array(
								'action' => 'add',
								'id'     => $id
							)
						));
					}

					$form->prepare();
					// Render the opening tag
					echo $this->form()->openTag($form);

					$errorForm = '';
					foreach ($form as $key => $element) :?>

						<?php
						$type = $element->getAttribute('type');
						$name = $element->getAttribute('name');
						$label = $element->getLabel();
						$elementError = $this->formElementerrors($element);

						$errorForm .= $elementError ? $elementError : '';

						$req = $form->getInputFilter()->get($name)->isRequired() ? 'required' : '';
						$hasError = ($elementError == true) ? 'has-error' : '';
						?>
						<div class="form-group <?php echo $req . ' ' . $hasError ?>">
							<?php if ($name == 'id'): ?>
								<div class="hidden"><?php echo $this->formElement($element); ?></div>
							<?php elseif ($name == 'submit'): ?>

								<div class="form-group">
									<div class="col-xs-6 col-xs-offset-3">
										<div id="messages">
											<?php echo $errorForm; ?>
										</div>
									</div>
								</div>


								<div class="col-xs-offset-3 col-xs-6">
									<?php echo $this->formSubmit($form->get('submit')); ?>
									<?php if ($lowercaseMode == 'edit'): ?>
										<a class='btn btn-danger' id="<?php echo $id; ?>" data-action="delete"
										   data-bb="confirm_buttons"
										   href="#">Delete</a>
									<?php endif; ?>
								</div>
							<?php elseif ($label != ''): ?>
								<label class="control-label col-xs-3"><?php echo $label ?></label>
								<div class="col-xs-6">
									<?php echo $this->formElement($element); ?>
								</div>
							<?php endif; ?>
						</div>
					<?php endforeach;
					echo $this->form()->closeTag();
					?>
				</div>
			</div>
		</div>
	</div>

<?php
if ($lowercaseMode == 'edit') {
	echo $this->partial('partial/js/modalPopUpConfirm', array(
		'selector' => 'a[data-bb]',
		'message'  => 'Вы уверены что хотите удалить данную вакансию?',
		'url'      => $this->url('work', array('action' => 'delete'))
	));
}
?>