<?php
/**
 * @var $form \Zend\Form\Element|\Zend\Form\Form
 */
?>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Works</h3>
				</div>
				<div class="panel-body">

					<div class="row">
						<div class="pull-left">

							<?php echo $this->showMessages(); ?>
							<a class="addvacancy" href="<?php echo $this->url('work', array('action' => 'add')); ?>">Add
								Vacancy</a>
						</div>

						<div class="pull-right">

							<?php

							$form->setAttributes(array(
								'action' => $this->url('work', array('action' => 'index')),
								'method' => 'post',
								'class'  => 'form-horizontal',
							));

							$form->prepare();
							// Render the opening tag
							echo $this->form()->openTag($form); ?>

							<div class="form-group">
								<label class="control-label col-sm-2">Search</label>

								<div class="col-sm-10">
									<div class="row">
										<div class="col-xs-6">
											<?php echo $this->formElement($form->get('lang')); ?>
										</div>
										<div class="col-xs-6">
											<?php echo $this->formElement($form->get('department')); ?>
										</div>
										<input name="page" type="hidden" value="<?php echo $page; ?>"/>
									</div>
								</div>
							</div>
							<?php echo $this->form()->closeTag(); ?>
						</div>
					</div>

					<div class="table-responsive" id="refresh-work">
						<?php if (isset($pagedVacancy) == true) {
							echo $this->partial('work/partial/index', array(
								'this'         => $this,
								'page'         => $page,
								'routeParams'  => $routeParams,
								'pagedVacancy' => $pagedVacancy));
						} ?>
					</div>
				</div>
			</div>
		</div>
	</div>

<?php
$this->inlineScript()->appendFile($this->basePath() . '/js/searchIndex.js');
echo $this->partial('partial/js/modalPopUpConfirm', array(
	'this'     => $this,
	'selector' => 'a[data-bb]',
	'message'  => 'Вы уверены что хотите удалить данную вакансию?',
	'url'      => $this->url('work', array('action' => 'delete'))
));
?>