<?php
/**
 *  @var $paging \Work\View\Helper\PaginationHelper
 */
$paging = $this->paginationHelper($pagedVacancy, $page, $this->url('work', array_merge(array('action' => 'index'),$routeParams) ), 10); ?>

<table class="table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Department</th>
		<th>Lang</th>
		<th></th>
	</tr>
	</thead>
	<?php
	/* @var $work \Work\Entity\WorkVacancy */
	foreach ($pagedVacancy as $work):
		$department = $work->getDepartment();
		?>

		<tbody>
		<tr>
			<td><?php echo $work->getName(); ?></td>
			<td><?php echo $department != null ? $department->getName() : '' ?></td>
			<td><?php echo $work->getLang(); ?></td>
			<td>
				<a href="<?php echo $this->url('work', array('action' => 'add', 'id' => $work->getId())); ?>">Edit</a>
				|
				<a id="<?php echo $work->getId(); ?>" data-action="delete"
				   data-bb="confirm_buttons"
				   href="#">Delete</a>
			</td>
		</tr>
		</tbody>
	<?php endforeach; ?>
</table>
<div class="paging">
	<?php echo $paging; ?>
</div>