<?php echo $this->doctype(); ?>

<html lang="en">
<head>
	<meta charset="utf-8">
	<?php echo $this->headTitle('ZF2 ' . $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

	<?php echo $this->headMeta()
		->appendName('viewport', 'width=device-width, initial-scale=1.0')
		->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	?>

	<!-- Le styles -->
	<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
		->prependStylesheet($this->basePath('css/style.css'))
		->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
		->prependStylesheet($this->basePath('css/bootstrap.min.css'))
		->prependStylesheet($this->basePath('css/bootstrap-submenu.min.css'))
	?>

	<!-- Scripts -->
	<?php echo $this->headScript()
		->prependFile($this->basePath('/js/bootstrap-submenu.js'))
		->prependFile($this->basePath('js/bootstrap.min.js'))
		->prependFile($this->basePath('js/jquery.min.js'))
		->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
		->prependFile($this->basePath('js/html5shiv.js'), 'text/javascript', array('conditional' => 'lt IE 9',));
	?>
</head>

<body>

<?php echo $this->navigation('navigation')
	->menu()
	//->setMinDepth(0)
	//->setMaxDepth(0)
	->setUlClass('nav navbar-nav')
	->setPartial(array('partial/topmenu.phtml', 'default'));
?>

<div class="container">
	<?php echo $this->content; ?>
</div>
<!-- /container -->

</body>
</html>
