<div style="display: none;" class="bb-alert alert alert-info">
	<span>Hi <b>Приветик</b></span>
</div>

<?php
$this->headLink()->appendStylesheet($this->basePath() . '/css/popup.css');
$this->inlineScript()->appendFile($this->basePath() . '/js/bootbox.min.js');
$this->inlineScript()->appendFile($this->basePath() . '/js/example.js');
?>

<?php $this->inlineScript()->captureStart();

echo <<<JS

	$(document).ready(function(){

		var typewindows = {}, action = {}, dataaction, id;

		Example.init({
			"selector": ".bb-alert"
		});

		$(document).on("click", "{$selector}", function (e) {
			e.preventDefault();

			var type = $(this).data("bb");
			dataaction = $(this).data("action");
			id = $(this).attr('id');

			if (typeof typewindows[type] === 'function') {
				typewindows[type]();
			}
		});

		typewindows.confirm_buttons = function () {
			bootbox.confirm("{$message}", function (result) {
				if (result) {
					if (typeof action[dataaction] === 'function') {
						action[dataaction]();
					}
				}
			});
		};

		action.delete = function () {

			//The post using ajax
			$.ajax({
				type: "POST",
				url: '{$url}',
				data: JSON.stringify({ "id": id }),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (data) {

					var response = JSON.parse(JSON.stringify(data));
					if(response.success == true) {
						Example.show(response.msg, response.url);
					} else {
						Example.show(response.msg);
					}
				},
				error: function () {
					Example.show(data);
				}
			});

		};
	});
JS;
$this->inlineScript()->captureEnd();

echo $this->inlineScript();
?>
