<div class="jumbotron">
	<h1><?php echo sprintf($this->translate('Welcome to %sVacancy 1%s'), '<span class="zf-green">', '</span>') ?></h1>

	<p>
		Программа предназначенная для просмотра списка вакансий компании с возможностью фильтра по отделам и языку.
		Каждая вакансия определена следующими свойствами: отдел, название вакансии и ее описание. Отдел является
		отдельным объектом, представлен идентификатором и названием. При этом название вакансии и её описание могут быть
		переведены на несколько языков (ru, fr, it, ...).
	</p>

	<p>
		Технологии используемые в проекте:
		Bootstrap, composer, doctrine2, Zend Framework2.
	</p>

	<p>
		Удаление и фильтрация работают на ajax запросах. Присутствует пагинатор, но иногда сбоит
	</p>

	<p>
		<a class="btn btn-success btn-lg" href="https://bitbucket.org/landstage/viewlistvac"
		   target="_blank"><?php echo $this->translate('Fork Vacancy on BitBucket') ?> &raquo;</a>
	</p>
</div>